body {
    background-color: black;
    color: #F9E79F; 
    font-family: 'Cinzel', serif;
    margin: 0;
    padding: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
}

.links a {
    color: #F9E79F;
    margin-left: 20px;
    text-decoration: none;
    transition: color 0.3s;
}

.links a:hover {
    color: #E67E22;
}

.skills-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(20, 20, 20, 0.9); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.skills-container h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: #E67E22; 
}

.skills-container p {
    font-size: 1rem;
    line-height: 1.5;
    color: #F9E79F; 
}

/* Asegúrate de que los elementos de la lista sean visibles */
.skills-list li {
    color: #F9E79F; /* Color del texto de la lista */
    background-color: rgba(255, 255, 255, 0.1); /* Fondo ligeramente claro para contraste */
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}
